# directories
auto-save-list/
eln-cache/
elpa/
eshell/
ido.last
packages/
server/
racket-mode/
transient/
url/


# files
\#*\#
.lsp-session-v1
bookmarks
custom.el
history
nov-places
session.*
tramp