# directories
.cache/
auto-save-list/
eln-cache/
elpa/
eshell/
ido.last
packages/
server/
racket-mode/
straight/
transient/
url/
var/


# files
\#*\#
.lsp-eslint-choices
.lsp-session-v1
bookmarks
custom.el
history
nov-places
projects
recentf
session.*
tramp
